Bootcamp.Payroll.Simulator/.vs/
Bootcamp.Payroll.Simulator/src/Bootcamp.Payroll.Simulator/bin/Debug/netcoreapp1.0/Bootcamp.Payroll.Simulator.pdb
Bootcamp.Payroll.Simulator/src/Bootcamp.Payroll.Simulator/Properties/
Bootcamp.Payroll.Simulator/src/Bootcamp.Payroll.Simulator/bin/
Bootcamp.Payroll.Simulator/src/Bootcamp.Payroll.Simulator/obj/
Bootcamp.Payroll.Simulator/Backup/
Bootcamp.Payroll.Simulator/UpgradeLog.htm
