HRPayroll.Classes/.vs/*
HRPayroll.Classes/HRPayroll.Archive/bin/*
HRPayroll.Classes/HRPayroll.Archive/obj/*
HRPayroll.Classes/HRPayroll.Audit/obj/*
HRPayroll.Classes/HRPayroll.Audit/bin/*
HRPayroll.Classes/HRPayroll.Classes/bin/*
HRPayroll.Classes/HRPayroll.Classes/obj/*
ClientAPIController/.vs/*
FluentScheduler_Test/.vs/*
FluentScheduler_Test/FluentScheduler_Test/obj/*
FluentScheduler_Test/FluentScheduler_Test/bin/*
FlourishAPI2/.vs/*
FlourishAPI2/FlourishAPI2/obj/*
FlourishAPI/.vs/*
FlourishAPI/FlourishAPI/obj/*
FlourishAPI/FlourishAPI/bin/*
FlorishTestEnviroment/.vs/*
FlorishTestEnviroment/FlorishTestEnviroment/bin/*
FlorishTestEnviroment/FlorishTestEnviroment/obj/*
ClientAPIController/ClientAPIController/bin/*
ClientAPIController/ClientAPIController/obj/*
.vs/*
PaymentSwitchHandler/.vs/*
PaymentSwitchHandler/PaymentSwitchHandler/obj/*
HRPayroll.Scheduler/.vs/*
HRPayroll.Scheduler/HRPayroll.Scheduler/obj/*
HRPayroll.Scheduler/HRPayroll.Scheduler/bin/*
PaymentSwitchHandler/.vs/*
PaymentSwitchHandler/PaymentSwitchHandler/obj/*
PaymentSwitchHandler/PaymentSwitchHandler/bin/*
Bootcamp.Payroll.Simulator/.git/
EmailNotifyer/.vs/*
EmailNotifyer/EmailNotifyer/obj/*
EmailNotifyer/EmailNotifyer/bin/*
HRPayroll.EmailService/.vs/*
HRPayroll.EmailService/HRPayroll.EmailService/obj/*
HRPayroll.EmailService/HRPayroll.EmailService/bin/*